/* #slide1 .w-full{
    background-image: url("./Images/1.png");
}
#slide2 .w-full{
    background-image: url("./Images/2.png");
}
#slide3 .w-full{
    background-image: url("./Images/3.png");
} */